<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/indexStyle.css">
  <title><%= title %></title>
</head>
<body>
<header>
  <ul>
    <li style="margin-right:150px;">
      <a href="/">IT TIME</a>
    </li>
    <li>
      <a href="/Q&ABoard">게시판</a>
    </li>
    <li>
      <a href="/notice">공지사항</a>
    </li>
  </ul>
</header>
<div class="mainSec">
  <img class="picture"
       src="/images/전북대사진.jpg">
</div>
</body>
</html>