<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/q&a_writeStyle.css">
    <title><%= title %></title>
</head>
<body>
<header>
    <ul>
        <li>
            <a href="/">IT TIME</a>
        </li>
        <li>
            <a href="/Q&ABoard">게시판</a>
        </li>
        <li>
            <a href="/notice">공지사항</a>
        </li>
    </ul>
</header>
<div class="mainSec">
    <form action="/Q&ABoard/write_q&a_board" method="post">
        <table>
            <tr>
                <td><input type="text" name="title" id="title" class="write"  placeholder="글 제목" required/></td>
            </tr>
            <tr>
                <td><input type="text" name="name" id="name" class="write"  placeholder="작성자" required/></td>
            </tr>
            <tr>
                <td><textarea name="content" id="content" class="write" placeholder="내용" required></textarea></td>
            </tr>
            <tr>
                <td><input type="password" name="passwd" id="passwd" class="write" placeholder="패스워드" required/></td>
            </tr>
        </table>
        <p><button type="submit">글쓰기</button></p>
    </form>
</div>
</body>
</html>
