body{
    display:grid;
    grid-template-areas:"hd" "main";
    grid-auto-rows:minmax(100px,auto);
}
a{
    color:black;
    text-decoration:none;
}
h2{
    text-align: center;
}
header{
    grid-area:hd;
    border:3px gray solid;
    margin:20px;
    padding:20px;
    float:left;
    height:100px;
}
header ul li{
    float:left;
    list-style-type: none;
    margin:20px;
    padding:5px;
    border:3px solid hotpink;
    font-size:25px;
}
article{
    border:3px solid hotpink;
    height:auto;
    background-color: white;
    position:static;
    margin:5px;
}
.boardSec{
    grid-area:board;
    background-color:pink;
    border:3px solid gray;
    margin:10px;
    padding:10px;
    font-size:20px;
    height:auto;
}
.selectSec{
    grid-area:select;
    background-color:pink;
    border:3px solid gray;
    margin:10px;
    padding:10px;
    font-size:20px;
}
.selectSec li{
    list-style-type:none;
    margin-bottom: 10px;
}
.mainSec{
    grid-area: main;
    display:grid;
    grid-template-areas:"select board";
    grid-template-columns:300px 2fr;
}
.medium{
    font-size:25px;
    margin:15px;
}
.small{
    font-size:15px;
    margin:15px;
}
.status{
    display:inline;
    position:relative;
}
.status li{
    float:right;
    list-style-type: none;
    padding-right: 15px;
    font-size:20px;
}
.write{
    border:3px solid hotpink;
    margin: 10px;
    background-color: white;
}