<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <title><%= title %></title>
</head>
<body>
<header>
  <ul>
    <li style="margin-right:150px;">IT TIME</li>
    <li>
      <a href="">시간표</a>
    </li>
    <li>
      <a href="">과제관리</a>
    </li>
    <li>
      <a href="">게시판</a>
    </li>
    <li>
      <a href="">학점관리</a>
    </li>
    <li>
      <a href="">공지사항</a>
    </li>
  </ul>
</header>
<div class="mainSec">
  <img class="picture"
       src="/images/전북대사진.jpg">
</div>
</body>
</html>