<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>

<form action="/le_board/write" method="post">
    <table border="1">
        <tr>
            <td>교수</td>
            <td><input type="text" name="professor" id="professor" required/></td>
        </tr>
        <tr>
            <td>과목명</td>
            <td><input type="text" name="subject" id="subject" required/></td>
        </tr>
        <tr>
            <td>평가점수</td>
            <td><input type="number" name="point" id="point" required/></td>
        </tr>
        <tr>
            <td>내용</td>
            <td><textarea name="content" id="content" cols="30" rows="10" required></textarea></td>
        </tr>
        <tr>
            <td>패스워드</td>
            <td><input type="password" name="passwd" id="passwd" required/></td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">글쓰기</button>
            </td>
        </tr>
    </table>
</form>


</body>
</html>